fastapi
uvicorn
pydantic
pydantic-settings
redis
pymilvus==2.3.4
langchain
langchain-community
dashscope
pyjwt
httpx
requests
sqlalchemy
aiomysql
bcrypt==4.0.1
passlib[bcrypt]
cryptography
python-multipart